<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Update Pokemon Page</h1>
        <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=pokemon.name%>"><br/>
            Image: <input type="url" name="img" value="<%=pokemon.img%>"><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>

        <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">

    </body>
</html>