<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <style>
                h1 {color: red}
                body {background: grey}
                li {color: red}
        </style>

    <h1>Pokemon Index</h1>
    
    <ul class='pokemon'>    
        <% for(let i = 0; i < pokemon.length; i++) { %>
        <li> <a href ="/pokemon/<%= i %>"> <%= pokemon[i].name %></a>

            <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">

        <button> 
            <a href="/pokemon/<%= i %>/edit">Edit</a>
        </button>
        
            </li> <br>
        <% } %>
    </ul>

   
    <a href="/pokemon/new">Click Here To Create A New Pokemon</a>


</body> 
</html> 

